.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  transition: color 0.4s;

}

.khan__buy-link:hover {
  color: #0f19ad;
}
